*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: rgb(4, 202, 202);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 0 50px;
}
header img {
  width: 200px;
}
ul {
  display: flex;
}
li {
  list-style: none;
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: blueviolet;
}

/* pannelum specific */
#panorama {
  width: 100vw;
  height: 600px;
}
div.pnlm-tooltip span {
  background-color: rgb(55, 183, 242);
  width: 200px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
}
